**/*.iml
**/*.ipr
**/*.iws
**/*.log
**/.dockerignore
**/.env
**/.git
**/.github
**/.gitignore
**/.gradle
**/.gradletasknamecache
**/.idea
**/.kotlin
**/documentation
**/Dockerfile*
**/build
**/compose.y*ml
**/docker-compose*
LICENSE
README.md
hs_err_pid*
