services:
  database:
    image: postgres:17.4-alpine3.21
    env_file:
      - postgresql.env
    ports:
      - "6432:5432"
#    volumes:
#      - pg-volume:/var/lib/postgresql/data

  db-test:
    image: postgres:17.4-alpine3.21
    env_file:
      - postgresql-test.env
    ports:
      - "6433:5432"

volumes:
  pg-volume: #
